<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/html5.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$DEFAULT_PATH}/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="{$DEFAULT_PATH}/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style>
	.row h6{color:#999;text-align:center}
	.row h6 span{color:red}
</style>
<title>添加邮件内容</title>
</head>
<body>
<div class="pd-20">
  <form action="fun_setmsg" method="post" class="form form-horizontal" id="form-news-add">   
    <div class="row cl">
      <label class="form-label col-3"><span class="c-red">*</span>所属分类： </label>
      <div class="formControls col-5">      
        <select class="select" id="cat_id" name="type" datatype="*" nullmsg="请选择所属分类！">
          <option value="">请选择所属分类</option>
          <option value="1" <if condition="$type eq 1">selected</if>>短信</option> 
          <option value="2" <if condition="$type eq 2">selected</if>>邮件</option>      
        </select>
      </div>
      <div class="col-4"> </div>
    </div>    
    
    <div class="row cl">
      <label class="form-label col-3"><span class="c-red">*</span>邮件标题：</label>
      <div class="formControls col-5">      
        <input type="text" class="input-text" placeholder="请填写邮件标题" id="news_title" name="title" datatype="*2-30" nullmsg="邮件标题不能为空" value="{$title}" <if condition="$news_id == 0">onBlur="tdk(this,'news_keyword','news_description')"</if> >
        <input type="hidden" name="news_id" id="news_id" value="{$id}">
      </div>
      <div class="col-4"> </div>
    </div>
  
    
<script type="text/javascript" charset="utf-8" src="{$DEFAULT_PATH}/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" charset="utf-8" src="{$DEFAULT_PATH}/kindeditor/lang/zh_CN.js"></script>  
<script type="text/javascript" charset="utf-8">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="news_content"]', {afterBlur: function(){this.sync();}});
});	
</script>

    <div class="row cl">
      <label class="form-label col-3">邮件内容：</label>
      <div class="formControls col-5">       
        <textarea name="news_content" id="content" cols="10" rows="20" datatype="*" nullmsg="邮件内容不能为空">{$content}</textarea>
      </div>
      <div class="col-4"> </div>
    </div>
    
    <div class="row cl">
      <label class="form-label col-3">作者：</label>
      <div class="formControls col-5">      
        <input type="text" class="input-text" placeholder="请填写作者" id="news_author" name="editor" value="{$editor}" >
      </div>
      <div class="col-4"> </div>
    </div>
    <div class="row cl">
      <label class="form-label col-3">发布时间：</label>
      <div class="formControls col-5">
        <input type="text" datatype="*" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="input-text" placeholder="请填写时间" id="news_time" name="news_time" value="{$addtime|date='Y-m-d H:i:s',###}" >
      </div>
      <div class="col-4"> </div>
    </div>
    
    <div class="row cl">
      <div class="col-9 col-offset-3">
        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        <input class="btn btn-default radius width_60" type="buttom" value="关闭" onclick="closeWin()" >
      </div>
    </div>
  </form>
</div>
</div>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/jquery.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/laypage/laypage.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.doc.js"></script> 
<script type="text/javascript">
$(function(){
	$("#form-news-add").Validform({
		tiptype:2,
	});
});
</script> 
</body>
</html>