<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/html5.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$DEFAULT_PATH}/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/css/style.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="{$DEFAULT_PATH}/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]--><title>搜索词设置</title>
</head>
<style>
.w1{ width: 390px; }
</style>
<body>
<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 搜索词设置  <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20">
<form action="savesearchkeywords" method="post" id="theForm">
<table class="table table-border table-bordered table-hover table-bg">
  <tbody>
    <tr>
      <th class="text-r"><span class="c-red">*</span>搜索词：</th><td>
      <div class="formControls col-5">
        <textarea cols="" rows="" class="input-text w1" style="height:80px;"  placeholder="空制在6个词组，英文逗号隔开，100个字符以内" datatype="*2-100" dragonfly="true" nullmsg="描述不能为空！" name="sys_search_keywords" id="sys_search_keywords" onKeyUp="textarealength(this,100)">{$sys_search_keywords}</textarea>
        <p class="textarea-numberbar"><em class="textarea-length">{$sys_search_keywords_count}</em>/100</p>
      </div>      
      <div class="col-4"> </div> 
      </td>
    </tr>
   
    <tr>
      <th class="text-r"></th><td><button name="system-base-save" id="system-base-save" class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
    </tr>
  </tbody>
</table>
</form>
</div>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/jquery.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.doc.js"></script>
<script type="text/javascript">
$(function(){
	$("#theForm").Validform({
		tiptype:2,
	});	
});
</script>
</body>
</html>