@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, th, td {
	margin:0;
	padding:0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style:normal;
	font-weight:normal;
}
ul, li {
	list-style-type:none;
}
img {
	border:none;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
body {
	background: #fff url(../images/login_bg.gif) repeat-x left top;
	color: #333;
	font: 12px '宋体', Arial, Helvetica, sans-serif;
}
a {
	color: #345292;
	text-decoration:none;
}
a:hover {
	color: #cc0000;
	text-decoration:none;
}
.clear {
	clear:both;
}
.wrapper {
	width:800px;
	margin: 0px auto;
	padding:0px;
}

#logo {float:left;width:300px;height:83px;padding-top:15px;margin-left:0px;}

.top_tool {float:right;width:300px;height:24px;line-height:24px;margin-top:55px;text-align:right;}
.top_tool  a {padding:0px 5px;}
.user_login_contant {margin-top:10px;height:480px;background:url(../images/login_back.jpg) no-repeat center -2px;position:relative;width:780px;}
#user_main {width:320px;position:absolute;right:126px;display:inline;top:150px;}
#user_main  li {height:27px;line-height:27px;font-size:14px;margin:8px 0px;}

#user_main  li input {padding:3px 0px 3px 5px;height:15px;border:1px solid #8dd6f4;color:#0c99d3;width:146px;}
#user_main  li.user_pic input {width:50px;margin-right:7px;height:12px;font-size:12px;}
#user_main  li.login {height:40px;line-height:40px;}
#user_main  li.login input {width:94px;height:27px;margin-left:80px;padding:0px;margin-top:3px;}
#user_main  li select {font-size:12px;}
#user_main  li.user_password input  {padding:5px 0px 1px 5px;}
#user_main  li.user_password  a{font-size:12px;color:#8a8d8c;}
#user_main  li label {width:80px;height:27px;line-height:27px;text-align:right;float:left;}

.user_login_info {position:absolute;

	left:260px;width:350px;top:100px;height:31px;line-height:31px;color:#a0a0a0;}
	.user_login_info a,#user_main  li.user_password  a:hover {color:#cc0000;text-decoration:underline;}
	.user_login_info a:hover {color:#333;}
.btn_login{
	background-image:url(../images/login_button.jpg);
	border:0px;
	cursor:pointer;
	width:94px;
	height:27px;
}