<div class="user_menu">
    <ul>
        <li class="current"><span><a href="/"><img src="{$img_model_path}/images/ico_home.gif" alt="会员首页" align="absmiddle"/>网站首页</a></span></li>
        <li><span><a href="{:U('index')}"><img src="{$img_model_path}/images/ico_content_manage.gif" alt="信息管理" align="absmiddle"/>会员中心</a></span></li>
        <li><span><a href=""><img src="{$img_model_path}/images/ico_friend.gif" alt="好友管理" align="absmiddle"/>好友管理</a></span></li>
        <li><span><a href=""><img src="{$img_model_path}/images/ico_promotion_manage.gif" alt="推广管理" align="absmiddle"/>推广管理</a></span></li>
    </ul>
</div>