<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>会员中心-{$sys_sitename}</title>
  <link href="{$css_model_path}/css/default.css" rel="stylesheet" type="text/css" />
  <link href="{$css_model_path}/css/model.css" rel="stylesheet" type="text/css" />
  <link href="{$css_model_path}/css/sign.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{$js_model_path}/js/jquery.js"></script>
  <script type="text/javascript" src="{$js_model_path}/js/calendar.js"></script>
</head>
<body>
<script>
  s=1;
</script>
<div class="wrapper">
  <!--网站内容开始-->
  <div class="user_main_all">
    <!--会员中心顶部菜单导航开始-->
    <include file="top" />
    <!--会员中心顶部菜单导航结束-->
    <!--会员主体定义开始-->
    <div class="user_main">
      <include file="left" />
      <!--右侧定义框架开始 -->
      <div class="user_summary">
        <!--会员信息开始-->
        <div class="user_infomation">
          <div class="user_info_title"> </div>
          <div class="usrer_info_content">
            <!--会员头像开始-->
            <div class="user_photo"> <a href="" title="修改头像"><img class="bigAvatar" src="{$sys_url}/{$sys_upload_img}/{$users.face}" alt="会员头像" align="absmiddle" /></a> </div>
            <!--会员头像结束-->
            <!--会员信息展示开始-->
            <div class="user_article">
              <h1>{$users.true_name}</h1>
              <ul class="user_acconun" style="width: 73%; float: left;">
                <li>可用积分：<span>{$users.sum_integral}分</span></li>
                <li>消费积分：<span>{$xfjf}分</span></li>
                <li>注册时间：<span>{$users.regtime|date="Y-m-d",###}</span></li>
                <li>上次登录时间：<span>{$users.logintime|date="Y-m-d",###}</span></li>
                <li>最后登录IP：<span>{$users.loginip}</span></li>
                <li>登录次数：<span>{$users.loginnum}次</span></li>
              </ul>
              <div style="float: right;width:29%;"><div class="singContainer" style="top:100px">
                <div class="signIn">
                  <a class="signButton" title="签到"><if condition="$usersSingn.is_show eq 1">已</if>签到</a>
                  <a class="currentDate">
                    <span></span>
                    <p>已连续签到<span class="color-red" id="signnum">{$usersSingn.sign_num}</span>天</p>
                  </a>
                </div>
                <p style="margin: 8px 0 3px;">已领{$usersSingn.sign_num}天，明天可领<em class="color-red">{$nextsum}</em>积分</p>
                <p>查看<a href="{:U('myintegralrecord')}">我的积分</a></p>
                <div id="calendar" style="position: absolute; margin-top: -55px; margin-left:-220px; display: none; background-color: #fff;"></div>
              </div></div>
              <div class="clear"></div>
              <!--会员快捷工具栏开始-->
              <ul class="user_info_tools">
                <li><span><a href="{:U('user_info')}" title="修改信息">修改信息</a></span></li>
                <li><span><a href="{:U('modifypass')}" title="修改密码">修改密码</a></span></li>
              </ul>
              <!--会员快捷工具栏结束-->
            </div>
            <!--会员信息展示结束-->
            <div class="clear"> </div>
          </div>
          <div class="user_info_bottom"> </div>
        </div>
        <script>
          $(function(){
            <if condition="$usersSingn.is_show eq 0">
                    $(".signButton").click(function(){
                      var d=new Date()
                      var day=d.getDate();
                      $("#calendar").find("table td").each(function(){
                        curr = $(this).html();
                        if(curr != ''){
                          if(parseInt(curr) == parseInt(day)){
                            $(this).addClass('on');
                          }
                        }
                      })
                      $.get("{:U('sign')}",function(status){
                        if(status == 2){
                          $('#signnum').html('1');
                        }
                        else if(status == 1) {
                          var signnum = parseInt($('#signnum').html())+1;
                          $('#signnum').html(signnum);
                        }
                      });
                      $(".signButton").html('已签到');
                      $("#calendar").show();
                      $(".signButton").unbind('click');
                      $(".signButton").bind('mouseenter',function(){
                        $("#calendar").show();
                      }).bind('mouseleave',function(){
                        $("#calendar").hide();
                      });
                      $("#calendar").bind('mouseleave',function(){
                        $("#calendar").hide();
                      }).bind('mouseenter',function(){
                        $("#calendar").show();
                      });
                    })
                    <else />
            $(".signButton").mouseenter(function(){
              $("#calendar").show();
            }).mouseleave(function(){
              $("#calendar").hide();
            });
            $("#calendar").mouseleave(function(){
              $("#calendar").hide();
            }).mouseenter(function(){
              $("#calendar").show();
            });
            </if>
            //ajax获取日历json数据
            var signList={$currtime};
            calUtil.init(signList);
          })
        </script>
        <!--会员信息结束-->
        <div class="clear"> </div>
        <!--会员自定义窗口开始-->
        <div> </div>
        <div class="user_custom_window">
          <div class="clear"> </div>
          <div class="user_custom">
            <div id="container">
              <div class="user_custom_area" id="c1">
                <div class="item">
                  <div class="itemcontent">
                    <div class="Header">
                      <h3><a href="{:U('newslist')}" >我发表的编程教程</a></h3>
                      <a class="more" href="{:U('newslist')}" title="更多信息">更多</a></div>
                    <div class="content">
                      <div>
                        <table cellpadding="0" cellspacing="0" width="100%" class="model_info_table">
                          <thead>
                          <tr class="model_info_title">
                            <th scope="col" style="width:40px;">ID</th>
                            <th scope="col">标题</th>
                            <th scope="col" style="width:50px;">已审核</th>
                            <th class="operate" scope="col" style="width:50px;">操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <volist name="mynewslist" id="mynewslist">
                          <tr class="listbg1">
                            <td>{$mynewslist.news_id}</td>
                            <td class="content_left"><div class="linkType"><a href="{:U('Index/showtech',array('id'=>$mynewslist['news_id']))}" title="{$mynewslist.news_title}" target="_blank">{$mynewslist.news_title}</a></div></td>
                            <td>
                              <if condition="$mynewslist.is_show eq 1">
                                <span style='color:#0f0;' title='审核通过'>√</span>
                                <elseif condition="$mynewslist.is_show eq 0" />
                                  <span style='color:#ccc;' title='审核中'>⊙</span>
                                  <else />
                                  <span style='color:#f00;' title='审核不通过'>X</span>
                                </if>
                            </td>
                            <td><a href="{:U('newsedit',array('id'=>$mynewslist['news_id']))}">修改</a></td>
                          </tr>
                          </volist>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="itemcontent">
                    <div class="Header">
                      <h3 id="WidTitle3" ><a href="">我发布的源码</a></h3>
                      <a class="more" href="" title="更多信息">更多</a></div>
                    <div class="content">
                      <div>
                        <table cellpadding="0" cellspacing="0" width="100%" class="model_info_table">
                          <thead>
                          <tr class="model_info_title">
                            <th scope="col" style="width:40px;">ID</th>
                            <th scope="col">标题</th>
                            <th scope="col" style="width:50px;">已审核</th>
                            <th class="operate" scope="col" style="width:50px;">操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <volist name="mycodelist" id="mycodelist">
                            <tr class="listbg1">
                              <td>{$mycodelist.goods_id}</td>
                              <td class="content_left"><div class="linkType"><a href="{:U('Index/showcode',array('id'=>$mycodelist['goods_id']))}" title="{$mycodelist.goods_name}" target="_blank">{$mycodelist.goods_name}</a></div></td>
                              <td>
                                <if condition="$mycodelist.is_show eq 1">
                                  <span style='color:#0f0;' title='审核通过'>√</span>
                                  <elseif condition="$mycodelist.is_show eq 0" />
                                  <span style='color:#ccc;' title='审核中'>⊙</span>
                                  <else />
                                  <span style='color:#f00;' title='审核不通过'>X</span>
                                </if>
                              </td>
                              <td><a href="#">修改</a></td>
                            </tr>
                          </volist>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="user_custom_area" id="c2">
                <div class="item" id="094c256d-9b4a-4676-a281-00abe39d497b">
                  <div class="itemcontent">
                    <div class="Header">
                      <h3 id="WidTitle2" ><a href=''>我发布的帖子</a></h3>
                      <a class="more" href="user_threads.asp?act=list" title="更多信息">更多</a></div>
                    <div class="content">
                      <div>
                        <table cellpadding="0" cellspacing="0" width="100%" class="model_info_table">
                          <thead>
                          <tr class="model_info_title">
                            <th scope="col" style="width:40px;">ID</th>
                            <th scope="col">帖子标题</th>
                            <th scope="col" style="width:50px;">已审核</th>
                            <th class="operate" scope="col" style="width:50px;">操作</th>
                          </tr>
                          </thead>
                          <tbody>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="itemcontent">
                    <div class="Header">
                      <h3 id="WidTitle" ><a href="{:U('myfavorites')}">我的收藏</a></h3>
                      <a class="more" href="{:U('myfavorites')}" title="更多信息">更多</a></div>
                    <div class="content">
                      <div>
                        <table cellpadding="0" cellspacing="0" width="100%" class="model_info_table">
                          <thead>
                          <tr class="model_info_title">
                            <th scope="col" style="width:40px;">ID</th>
                            <th scope="col">标题</th>
                            <th class="operate" scope="col" style="width:50px;">操作</th>
                          </tr>
                          </thead>

                          <volist name="myFavorites" id="myFavorites" key="key">
                            <tr class="listbg1">
                              <td>{$key}</td>
                              <td class="content_left">
                                <div class="linkType">
                                  <a href="{:U('Index/showtech',array('id'=>$myFavorites['article_id']))}" title="{$myFavorites.news_title}" target="_blank">{$myFavorites.news_title}</a>
                                </div>
                              </td>
                              <td><a href="{:U('Index/showtech',array('id'=>$myFavorites['article_id']))}" target="_blank">打开</a></td>
                            </tr>
                          </volist>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"> </div>
            </div>
          </div>
        </div>
        <!--会员自定义窗口结束-->
      </div>

      <!--右侧定义框架结束 -->
      <div class="clear"> </div>
    </div>
    <!--会员主体定义结束-->
    <!--网站内容结束-->
  </div>
</div>
<include file="foot" />
<!--网站底部结束-->
</body>
</html>