<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>邀请好友-会员中心-{$sys_sitename}</title>
    <link href="{$css_model_path}/css/default.css" rel="stylesheet" type="text/css" />
    <link href="{$css_model_path}/css/model.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$js_model_path}/js/jquery.js"></script>
</head>
<body>
<script>
    s = 1;
</script>
<div class="wrapper">
    <!--网站内容开始-->
    <div class="user_main_all">
        <!--会员中心顶部菜单导航开始-->
        <include file="top" />
        <!--会员中心顶部菜单导航结束-->
        <!--会员主体定义开始-->
        <div class="user_main">
            <!--会员信息侧边栏目开始-->
            <include file="left" />
            <!--会员信息侧边栏目结束-->
            <!--右侧定义框架开始 -->
            <div class="user_summary">

                <div class="user_sitepath"> 您现在的位置：<a title="{$sys_sitename}" href="{$sys_url}">{$sys_sitename}</a></span><span> &gt; </span><span><a title="会员中心" href="{:U('index')}">会员中心</a></span><span> &gt; </span><span><a title="邀请码">邀请码</a></span></div>
                <div class="model_info_list">
                    <div class="model_info_sate mtop10">
                        <ul>
                            <!-- CSS Tabs -->
                            <li id="EliteAudited" class="hover"><span> <a id="LinkAudited" href="?act=list2">邀请好友</a></span> </li>
                        </ul>
                    </div>
                    <!--模型内容列表开始-->
                    <div class="model_info_content">
                        <!--列表开始-->
                        <div>
                            <table id="EgvContent" cellpadding="0" cellspacing="0" width="100%" class="model_info_table">
                                <thead>
                                <tr>
                                    <td style="text-align:center; line-height:40px; padding-left:20px; padding-top:10px; padding-bottom:10px;">
                                        <span style="font-size:20px; color:#f00; font-weight:bold;">邀请地址: <a
                                                href="{$sys_url}/User/reg/mycode/{$users.mycode}.html" target="_blank">{$sys_url}/User/reg/mycode/{$users.mycode}.html</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>通过此地址注册本站会员的，都属于您的邀请好友<br /></td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!--列表结束-->
                    </div>
                    <!--模型内容列表结束-->
                </div>

            </div>
            <!--右侧定义框架结束 -->
            <div class="clear"> </div>
        </div>
        <!--会员主体定义结束-->
        <!--网站内容结束-->
    </div>
</div>
<!--网站底部开始-->
<include file="foot" />
<!--网站底部结束-->
</body>
</html>
