<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$categorylist.cat_name}吧-贴吧-{$sys_sitename}</title>
<meta name="Description" content="{$categorylist.cat_name}吧-">
<meta name="Keywords" content="{$categorylist.cat_name}吧-">
<link href="{$css_model_path}/css/css.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="{$css_model_path}/css/Validform_style.css" />
<script type="text/javascript" src="{$js_model_path}/js/jquery.js"></script>
</head>
<body>
<div class="wrapper"> 
  <!--  顶部链接  -->
    <include file="top" />
  <!--  正文  -->
  <div class="m10">
    <div class="con_left"> 
      <!--  左侧正文内容部分  -->
      <div class="position" style="border:1px #A3C4E0 solid; margin-bottom:6px;">当前位置：<a href="{$sys_url}">{$sys_sitename}</a>><a href="{:U('bbs')}">贴&nbsp;吧</a>>&nbsp;&nbsp;{$categorylist.cat_name}吧</div>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" height="">
        <tbody>
          <tr>
            <td width="100"><a href="#postbbs"><img src="{$img_model_path}/images/postnew.jpg" border="0" width="85" height="26"></a></td>
            <td width="300" align="left"><img src="{$img_model_path}/images/ztop.gif" align="absmiddle" border="0" width="12" height="12"> 置顶帖 <img src="{$img_model_path}/images/tuijian.gif" align="absmiddle" border="0" width="12" height="12"> 推荐帖</td>
            <td align="right"><!--<img src="{$img_model_path}/images/team.gif" align="absmiddle" width="20" height="20"> 版主：<a href="showuser.asp?id=1" target="_blank">wangsdong</a>，<a href="showuser.asp?id=5" target="_blank">loveasp</a>--></td>
          </tr>
          <tr>
            <td colspan="3" height="5"></td>
          </tr>
        </tbody>
      </table>
      <div class="ld">
        <table width="100%" cellspacing="0" >
          <tbody>
            <tr class="white" bgcolor="#68A3E5" height="28">
              <td class="lt_1 lt_tg">状态</td>
              <td class="lt_2 lt_tg" style="text-align:center;">文 章</td>
              <td class="lt_3 lt_tg">作 者</td>
              <td class="lt_4 lt_tg">回复/人气</td>
              <td class="lt_5 lt_tg">最后发表</td>
            </tr>
          </tbody>
        </table>

          <volist name="threadslist['list']" id="threadslist">
     <table width="100%" cellspacing="0" class="lt_l">
         <tbody>
            <tr>
               <td width="30" align="center" class="lt_1"><img src="{$img_model_path}/images/ztop.gif" alt="全版置顶贴" width="19" height="22" border="0"></td>
               <td width="315" class="lt_2"><a href="{:U('showbbs',array('id'=>$threadslist['threadid']))}" class="zise" target="_blank" title="{$threadslist.topic}">{$threadslist.topic}</a></td>
               <td width="85" align="right" class="lt_3">
               <a href="{:U('users',array('id'=>$threadslist['postuserid']))}" class="heise" target="_blank">{$threadslist.postname|msubstr=0,10,'utf-8',false}</a><br>
               <span class="time">{$threadslist.posttime|date="Y-m-d H:i:s",###}</span>
               </td>
               <td width="85" align="center" class="lt_4"><span class="green">{$threadslist.postnum}</span>/{$threadslist.hits}</td>
               <td align="left" class="lt_5">
               <a href="{:U('users',array('id'=>$threadslist['lastuserid']))}" target="_blank" class="huiz">{$threadslist.lastname|msubstr=0,10,'utf-8',false}</a><br>
               <span class="time">{$threadslist.lasttime|date="Y-m-d H:i:s",###}</span>
               </td>
            </tr>
         </tbody>
      </table>
      </volist>
 </div>
      <div class="black"></div>
      <div class="ld">
        <table width="100%" cellspacing="0">
          <tbody>
            <tr>
              <td colspan="5" class="paddright" align="center" bgcolor="#F4F9FC">{$pagefooter}
                  <div class="clear"></div> </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="black"></div>
      <div style="border:1px #A3C4E0 solid; width:100%;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="">
          <tbody>
            <tr>
              <td colspan="2" height="12"></td>
            </tr>
            <tr>
              <td width="100">&nbsp;<a href="#postbbs"><img src="{$img_model_path}/images/postnew.jpg" border="0" width="85" height="26"></a></td>
              <td align="left"><table width="100%" border="0" cellpadding="2" cellspacing="0" class="Tahoma">
                  <tbody>
                    <tr>
                      <td width="25" align="left"><img src="{$img_model_path}/images/topicnew.gif" width="19" height="22"></td>
                      <td width="90" align="left">未被回复的帖子</td>
                      <td width="25" align="left"><img src="{$img_model_path}/images/topichot.gif" width="19" height="22"></td>
                      <td width="100" align="left">正常被回复的帖子</td>
                      <td width="25" align="left"><img src="{$img_model_path}/images/ztop.gif" border="0" width="19" height="22"></td>
                      <td width="45" align="left">精华帖</td>
                      <td width="25" align="left"><img src="{$img_model_path}/images/toptj.gif" border="0" width="19" height="22"></td>
                      <td width="45" align="left">推荐帖</td>
                      <td width="25" align="left"><img src="{$img_model_path}/images/topiclock.gif" width="19" height="22"></td>
                      <td align="left">被锁定回复的帖子</td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td colspan="2" height="10"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="con_right">
        <include file="bbs_right" />
    </div>
    <div class="clearit"></div>
  </div>
  <br />
    <if condition="$userid gt 0">
        <script src="{$js_model_path}/js/Validform_v5.3.2_min.js" type="text/javascript"></script>
        <script type="text/javascript" charset="utf-8" src="{$js_model_path}/kindeditor/kindeditor-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="{$js_model_path}/kindeditor/lang/zh_CN.js"></script>
        <script>
            var editor;
            KindEditor.ready(function(K) {
                editor = K.create('textarea[name="content"]', {afterBlur: function(){this.sync();}});
            });
        </script>
    <table class="tahoma" border="0" cellpadding="5" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td height="30" background="{$img_model_path}/images/bg_re.gif" bgcolor="#5F9DE0" class="white" style="padding-left: 8px;"><img src="{$img_model_path}/images/huifu.gif" align="absmiddle" width="16" height="16"> <b>快速发新话题</b><a name="postbbs"></a></td>
        </tr>
        <tr>
            <td bgcolor="#D0E5F5" height="3"></td>
        </tr>
        </tbody>
    </table>
    <form action="" method="post" name="theform" id="theform" style="margin:0px;padding:0px;">
        <table class="tahoma" bgcolor="#E3EBEE" border="0" cellpadding="3" cellspacing="1" width="100%">
            <tbody>
            <tr>
                <td width="172" height="30" align="right"><b><span style="color: #f00;">*</span> 标题</b>：</td>
                <td bgcolor="#FFFFFF"><input type="text" name="Topic" id="Topic" size="60" maxlength="100" datatype="*" nullmsg="请填写标题" errormsg="请填写标题" /><a style="left: 100px;top:310px; " class="Validform_checktip"></a></td>
            </tr>
            <tr>
                <td width="172" height="180" align="right"><b><span style="color: #f00;">*</span> 内容</b>：</td>
                <td bgcolor="#FFFFFF" align="left"><textarea name="content" id="content" class="w770" style="width:655px; height:300px;" datatype="*" nullmsg="请填写内容" errormsg="请填写内容"></textarea><a style="left: 100px;top:310px;" class="Validform_checktip"></a>
                    <input type="hidden" value="1" name="id" id="id"/>
                    <input type="hidden" value="1" name="act" id="act" />
                    <input type="hidden" value="1" name="userid" id="userid" /></td>
            </tr>
            <tr height="38">
                <td align="right"></td>
                <td><input name="Submit" value=" 发表帖子 " style="font-size: 14px;" type="Submit"></td>
            </tr>
            </tbody>
        </table>
    </form>
    </if>
    <script>
        $("#theform").Validform({
            tiptype:function(msg,o,cssctl){
                //msg：提示信息;
                //o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
                //cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
                if(!o.obj.is("form")){
                    var objtip=o.obj.siblings(".Validform_checktip");
                    cssctl(objtip,o.type);
                    objtip.text(msg);
                }
            }
        });
    </script>
   
  <!--  底部导航  -->
    <!--  底部导航  -->
    <include file="foot" />
</div>
</body>
</html>
