<!--  右侧广告链接部分  -->
<div class="r_link border">
    <!--  热门教程  -->
    <div class="title2">
        <h4>热门下载</h4>
    </div>
    <ul class="hourul">
        <volist name="hotgoodslist" id="hotgoodslist">
            <li class="onlink"><a href="{:U('showsoft',array('id'=>$hotgoodslist['goods_id']))}" target="_blank" title="{$hotgoodslist.goods_name}">{$hotgoodslist.goods_name}</a></li>
        </volist>
    </ul>
</div>
<div class="black"></div>
<div class="r_link border">
    <!--  下载排行榜  -->
    <div class="title2">
        <h4>下载排行榜</h4>
    </div>
    <ul class="hourul">
        <li class="onlink"><a href="http://www.aspbc.com/soft/showsoft.asp?id=208" target="_blank" title="AdminLTE bootstrap 后台框架">AdminLTE&nbsp;bootstrap&nbsp;后台框架</a></li>
    </ul>
</div>