<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$keyword}-技术{$data}-{$sys_sitename}</title>
    <meta name="Keywords" content="{$categorylist.cat_keyword}">
    <meta name="Description" content="{$categorylist.cat_description}">
    <link href="{$css_model_path}/css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrapper">
    <include file="top" />
    <!--  正文  -->
    <div class="container m10">
        <div class="con_left">
            <!--  左侧正文内容部分  -->
            <div class="position">当前位置：<a href="{$sys_url}">{$sys_sitename}</a>><a href="{:U('tech')}">技术{$data}</a>>&nbsp;&nbsp;查询：{$keyword}</div>
            <div class="techlist border">
                <ul class="techlistul">
                    <volist name="newslist.list" id="newslist">
                        <li><span>{$newslist.news_time|date="Y-m-d",###}</span><a href="{:U('showtech',array('id'=>$newslist['news_id']))}" target="_blank" title="{$newslist.news_title}">{$newslist.news_title}</a></li>
                    </volist>
                </ul>
                <div class="fy">{$pagefooter}</div>
            </div>
        </div>
        <div class="con_right">
            <include file="tech_right" />
        </div>
        <div class="clearit"></div>
        <div class="shownewsbuttom"></div>
    </div>
    <!--  底部导航  -->
    <include file="foot" />
</div>
</body>
</html>
