<!--  顶部链接  -->

<div class="top_link">
  <div class="t_l" id="login_status">{$loginstatus}</div>
  <div class="t_r" style="padding-right: 10px;"><a href="{:U('flow')}">购物车</a> <a href="javascript:void(0)" onclick="javascript:try{this.style.behavior='url(#default#homepage)';this.setHomePage('{$sys_url}');}catch(e){return false;}">设为首页</a> <a href="javascript:void(0)" onclick="javascript:try{window.external.AddFavorite('{$sys_url}','{$sys_title}');}catch(e){return false;}">加入收藏</a></div>
</div>
<!--  logo部分  -->
<div class="logo">
  <div class="asplogo"><a href="/"><img src="{$img_model_path}/images/logo.gif" alt="{$sys_sitename}" width="152" height="78" border="0" /></a></div>
  <div class="search_btn">
    <div class="tab2">
      <ul id="test2_li_now">
        <li <if condition="$searchtype==1"> class="now"</if>>教程</li>
        <li <if condition="$searchtype==2"> class="now"</if>>软件</li>
        <li <if condition="$searchtype==3"> class="now"</if>>源码</li>
      </ul>
    </div>
    <form method="get" name="searchform" id="searchform" action="{:U('search')}" style="margin:0px;">
      <div class="tab_bottom">
        <div id="test2_1" class="tablist bloc">
          <div class="searchkeyword">
            <input type="hidden" name="searchtype" id="searchtype" value="{$searchtype}">
            <input type="text" name="keyword" id="keyword" class="w350" value="{$keyword}" />
            <input type="submit" name="" value="搜索" class="search_submit"/>
          </div>
          <div class="hot_keyword"><span style="font-weight:bold; color:red;">热门关键字：</span>
            <volist name="searchad" id="searchad">
            <a title="{$searchad.ad_name}" href="{$searchad.ad_url}" target="_blank">{$searchad.ad_name}</a>&nbsp;&nbsp;
            </volist>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--  导航链接  -->
<div class="nav_link border">
  <ul>
    <volist name="navlist" id="navlist">
    <li><a href="{$navlist.nav_url}">{$navlist.nav_title}</a>
    </li></volist>
  </ul>
  <div class="clear"></div>
</div>
<!--  导航  -->
<div class="nav m10">
  <ul>
    <li class="onlink"><a href="{$sys_url}">首页</a></li>
    <li><a href="{:U('tech')}">技术教程</a></li>
    <li><a href="{:U('soft')}">软件下载</a></li>
    <li><a href="{:U('code')}">源码下载</a></li>
    <li><a href="{:U('bbs')}">贴吧</a></li>
    <li><a href="{:U('about')}">关于我们</a></li>
  </ul>
</div>
<script src="{$js_model_path}/js/jquery.js"></script>
<script src="{$js_model_path}/js/top.js"></script>