<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/html5.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$DEFAULT_PATH}/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="{$DEFAULT_PATH}/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>职位管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span> 人才招聘 <span class="c-gray en">&gt;</span> 职位管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20">  
  <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="WinDelAll('job_id','职位','jobdel')" class="btn btn-danger radius"><i class="icon-trash"></i> 批量删除</a> <a href="javascript:;" onclick="WinAdd('820','520','添加职位','jobadd')" class="btn btn-primary radius"><i class="icon-plus"></i> 添加职位</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
  <table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
      <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value=""></th>
        <th width="80">ID</th>
        <th>职位名称</th>        
        <th width="80">人数</th>
        <th width="120">所属分类</th>        
        <th width="120">顺序</th>
        <th width="80">状态</th>
        <th width="120">发布时间</th> 
        <th width="80">操作</th>
      </tr>
    </thead>
    <tbody>
    <volist name="job_list" id="joblist">   
      <tr class="text-c">
        <td id="u_{$joblist.job_id}"><input type="checkbox" value="{$joblist.job_id}" name="job_id"></td>
            <td>{$joblist.job_id}</td>       
            <td>{$joblist.job_name}</td>
            <td>{$joblist.job_num}</td> 
            <td>{$joblist.cat_name}</td>
            <td>{$joblist.job_order}</td>
            <td><if condition="$joblist.is_show == 1">显示<else/>隐藏</if></td>       
            <td>{$joblist.job_time|date="Y-m-d H:i:s",###}</td>   
               
            <td class="f-14 user-manage">                
             <a title="编辑" href="javascript:;" onClick="WinEdit('820','520','编辑职位','jobedit?id={$joblist.job_id}')" class="ml-5" style="text-decoration:none"><i class="icon-edit"></i></a></td>
      </tr>
     </volist>      
    </tbody>
  </table>
  <div id="pageNav" class="pageNav">{$pagefooter}</div>
</div>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/jquery.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.js"></script>  
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.doc.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"lengthMenu":false,//显示数量选择 
	"bFilter": false,//过滤功能
	"bPaginate": false,//翻页信息
	"bInfo": false,//数量信息
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
	]
});
</script> 
</body>
</html>