<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/html5.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$DEFAULT_PATH}/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="{$DEFAULT_PATH}/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>新闻管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span> 新闻库 <span class="c-gray en">&gt;</span> 新闻管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20">
    <div class="text-c">
        <form action="" method="post" id="formID">
            <input type="text" class="input-text" style="width:250px" placeholder="输入新闻标题" id="keyword" name="keyword" value="{$keyword}" >
            <select name="cat_id" id="cat_id" style="height: 30px; margin-right: 5px;">
                <option value="0">请选择分类</option>
                <volist name="category_list" id="category_list">
                    <option value="{$category_list.cat_id}" <if condition="$category_list.cat_id eq $cat_id">selected</if>>{$category_list.cat_name}</option>
                </volist>
            </select><button type="submit" class="btn btn-success" id="" name=""><i class="icon-search"></i> 搜新闻</button>
        </form>
    </div>
  <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="WinDelAll('news_id','新闻','newsdel2')" class="btn btn-danger radius"><i class="icon-trash"></i> 批量删除</a> <a href="javascript:;" onclick="WinExpro('news_id','新闻','news_dr')" class="btn btn-primary radius"><i class="icon-plus"></i> 批量导入</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
  <table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
      <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value=""></th>
        <th width="80">ID</th>
        <th>新闻标题</th>
        <th width="150">分类</th>       
        <th width="80">来源</th>
          <th width="80">浏览量</th>
        <th width="80">状态</th>
        <th width="120">时间</th>        
        <th width="80">操作</th>
      </tr>
    </thead>
    <tbody>
    <volist name="news_list" id="newslist">   
      <tr class="text-c">
        <td id="u_{$newslist.news_id}"><input type="checkbox" value="{$newslist.news_id}" name="news_id"></td>
            <td>{$newslist.news_id}</td>       
            <td>{$newslist.news_title}</td>            
            <td>{$newslist.cat_name}</td>
            <td>{$newslist.news_from}</td>
            <td>{$newslist.news_hits}</td>
            <td>
                <if condition="$newslist.is_show == 1"><span style="color: green;">通过</span><elseif condition="$newslist.is_show == 0"/><span style="color: #ccc;">审核中</span><else/><span style="color: red;">不通过</span></if>
            </td>            <td>{$newslist.news_time|date="Y-m-d H:i:s",###}</td>
            <td class="f-14 user-manage">                
             <a title="编辑" href="javascript:;" onClick="WinEdit('920','450','编辑新闻','newsedit2?id={$newslist.news_id}')" class="ml-5" style="text-decoration:none"><i class="icon-edit"></i></a></td>
      </tr>
     </volist>      
    </tbody>
  </table>
  <div id="pageNav" class="pageNav">{$pagefooter}</div>
</div>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/jquery.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.js"></script>  
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.doc.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"lengthMenu":false,//显示数量选择 
	"bFilter": false,//过滤功能
	"bPaginate": false,//翻页信息
	"bInfo": false,//数量信息
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  {"orderable":false,"aTargets":[0,7]}// 制定列不参与排序
	]
});
</script> 
</body>
</html>