<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/html5.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$DEFAULT_PATH}/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="{$DEFAULT_PATH}/lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="{$DEFAULT_PATH}/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>系统统计</title>
</head>
<body>
<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span> 系统统计 <span class="c-gray en">&gt;</span> 注册率 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20">
  <div class="text-c">    
    <form action="" method="post" id="formID">日期范围：
    <input type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate: '%y-%M-%d'})" id="datemin" name="datemin" class="input-text Wdate" style="width:120px;" value="{$datemin}" >
    -
    <input type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate: '%y-%M-%d'})" id="datemax" name="datemax" class="input-text Wdate" style="width:120px;"  value="{$datemax}" >
    <button type="submit" class="btn btn-success" id="" name=""><i class="icon-search"></i> 搜索</button>
</form>

  </div>
  <div class="cl pd-5 bg-1 bk-gray mt-20">  <span class="r">访问总人数：<strong>{$people_num}</strong> 位</span> </div>
  <table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
      <tr class="text-c">
      	<th width="100"></th>
        <th width="100">注册总数</th>
        <th width="100">手机用户</th>
        <th width="100">邮箱用户</th>
        <th width="130">第三方登录用户</th>
        <th width="130">手机和邮箱用户</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-c">
      	 <td>用户量</td>
      	 <td>{$count}</td>
      	 <td>{$phone_count}</td>
      	 <td>{$email_count}</td>
      	 <td>{$third_count}</td>
      	 <td>{$all_count}</td>
      </tr>
      <tr class="text-c">
      	 <td>注册率(占访问量)</td>
      	 <td>{$count_page}</td>
      	 <td>{$phone_page}</td>
      	 <td>{$email_page}</td>
      	 <td>{$third_page}</td>
      	 <td>{$all_page}</td>
      </tr>
      <tr class="text-c">
      	 <td>注册率(占注册总数)</td>
      	 <td>100%</td>
      	 <td>{$phone_p}</td>
      	 <td>{$email_p}</td>
      	 <td>{$third_p}</td>
      	 <td>{$all_p}</td>
      </tr>
    </tbody>
  </table>
  <div id="pageNav" class="pageNav">{$pagefooter}</div>
</div>
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/jquery.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="{$DEFAULT_PATH}/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.js"></script>  
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.js"></script>
<script type="text/javascript" src="{$DEFAULT_PATH}/js/H-ui.admin.doc.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"lengthMenu":false,//显示数量选择 
	"bFilter": false,//过滤功能
	"bPaginate": false,//翻页信息
	"bInfo": false,//数量信息
	"aaSorting": [[ -1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,1,2,3,4]}// 制定列不参与排序
	]
});
</script> 
</body>
</html>